<div class="container">
    
    
    
    <h2 class="text-center my-4">Team Statistics</h2>
    
    <div class="stats-container">
        
        <div class="table-responsive team-stats">
            <table class="table team-table">
                <thead>
                    <tr>
                        <th scope="col" class="rank">#</th>
                        <th scope="col" class="team" style="text-align: left;">Team</th>
                        <th scope="col" class="stats">P</th>
                        <th scope="col" class="stats">W</th>
                        <th scope="col" class="stats">D</th>
                        <th scope="col" class="stats">L</th>
                        <th scope="col" class="stats">GD</th>
                        <th scope="col" class="stats">Pts</th>
                    </tr>
                </thead>
                <tbody >
                   
                    <tr>
                        <td class="rank" style="background-color: green;">1</td>
                        <td class="team">
                            <img src="photos/napoli.png" alt="" class="team-logo-s">
                            Napoli
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">5</td>
                        <td class="stats">0</td>
                        <td class="stats">1</td>
                        <td class="stats">+6</td>
                        <td class="stats">15</td>
                    </tr>
                    
                    <tr>
                        <td class="rank" style="background-color: green;">2</td>
                        <td class="team">
                            <img src="photos/asroma.png" alt="" class="team-logo-r">
                            Roma
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">5</td>
                        <td class="stats">0</td>
                        <td class="stats">1</td>
                        <td class="stats">+5</td>
                        <td class="stats">15</td>
                    </tr>

                    <tr>
                        <td class="rank" style="background-color: green;">3</td>
                        <td class="team">
                            <img src="photos/acmilan.png" alt="" class="team-logo-r">
                            Milan
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">4</td>
                        <td class="stats">1</td>
                        <td class="stats">1</td>
                        <td class="stats">+6</td>
                        <td class="stats">13</td>
                    </tr>

                    <tr>
                        <td class="rank" style="background-color: green;">4</td>
                        <td class="team">
                            <img src="photos/inter.png" alt="" class="team-logo-s">
                            Inter
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">4</td>
                        <td class="stats">0</td>
                        <td class="stats">2</td>
                        <td class="stats">+9</td>
                        <td class="stats">12</td>
                    </tr>

                    <tr>
                        <td class="rank" style="background-color: blue;">5</td>
                        <td class="team">
                            <img src="photos/juventus.png" alt="" class="team-logo-s">
                            Juventus
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">3</td>
                        <td class="stats">3</td>
                        <td class="stats">0</td>
                        <td class="stats">+4</td>
                        <td class="stats">12</td>
                    </tr>

                    <tr>
                        <td class="rank" style="background-color: teal;">6</td>
                        <td class="team">
                            <img src="photos/atalanta.png" alt="" class="team-logo-r">
                            Atalanta
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">2</td>
                        <td class="stats">4</td>
                        <td class="stats">0</td>
                        <td class="stats">+6</td>
                        <td class="stats">10</td>
                    </tr>

                    <tr>
                        <td class="rank">7</td>
                        <td class="team">
                            <img src="photos/bologna.png" alt="" class="team-logo-r">
                            Bologna
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">3</td>
                        <td class="stats">1</td>
                        <td class="stats">2</td>
                        <td class="stats">+4</td>
                        <td class="stats">10</td>
                    </tr>

                    <tr>
                        <td class="rank">8</td>
                        <td class="team">
                            <img src="photos/como.png" class="team-logo-r">
                            Como
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">2</td>
                        <td class="stats">3</td>
                        <td class="stats">1</td>
                        <td class="stats">+2</td>
                        <td class="stats">9</td>
                    </tr>

                    <tr>
                        <td class="rank">9</td>
                        <td class="team">
                            <img src="photos/sassuolo.png" alt="" class="team-logo-r">
                            Sassuolo
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">3</td>
                        <td class="stats">0</td>
                        <td class="stats">3</td>
                        <td class="stats">0</td>
                        <td class="stats">9</td>
                    </tr>
                    <tr>
                        <td class="rank">10</td>
                        <td class="team">
                            <img src="photos/cremonese.png" alt="" class="team-logo-s">
                            Cremonese
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">2</td>
                        <td class="stats">3</td>
                        <td class="stats">1</td>
                        <td class="stats">-1</td>
                        <td class="stats">9</td>
                    </tr>
                    <tr>
                        <td class="rank">11</td>
                        <td class="team">
                            <img src="photos/cagliari.png" alt="" class="team-logo-r">
                            Cagliari
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">2</td>
                        <td class="stats">2</td>
                        <td class="stats">2</td>
                        <td class="stats">0</td>
                        <td class="stats">8</td>
                    </tr>
                    <tr>
                        <td class="rank">12</td>
                        <td class="team">
                            <img src="photos/udinese.png" alt="" class="team-logo-r">
                            Udinese
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">2</td>
                        <td class="stats">2</td>
                        <td class="stats">2</td>
                        <td class="stats">-3</td>
                        <td class="stats">8</td>
                    </tr>
                    <tr>
                        <td class="rank">13</td>
                        <td class="team">
                            <img src="photos/lazio.png" alt="" class="team-logo-s">
                            Lazio
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">2</td>
                        <td class="stats">1</td>
                        <td class="stats">3</td>
                        <td class="stats">+3</td>
                        <td class="stats">7</td>
                    </tr>
                    <tr>
                        <td class="rank">14</td>
                        <td class="team">
                            <img src="photos/parma.png" alt="" class="team-logo-r">
                            Parma
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">1</td>
                        <td class="stats">2</td>
                        <td class="stats">3</td>
                        <td class="stats">-4</td>
                        <td class="stats">5</td>
                    </tr>
                    <tr>
                        <td class="rank">15</td>
                        <td class="team">
                            <img src="photos/lecce.png" alt="" class="team-logo-r">
                            Lecce
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">1</td>
                        <td class="stats">2</td>
                        <td class="stats">3</td>
                        <td class="stats">-5</td>
                        <td class="stats">5</td>
                    </tr>
                    <tr>
                        <td class="rank">16</td>
                        <td class="team">
                            <img src="photos/torino.png" alt="" class="team-logo-r">
                            Torino
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">1</td>
                        <td class="stats">2</td>
                        <td class="stats">3</td>
                        <td class="stats">-8</td>
                        <td class="stats">5</td>
                    </tr>
                    <tr>
                        <td class="rank">17</td>
                        <td class="team">
                            <img src="photos/fiorentina.png" alt="" class="team-logo-r">
                            Fiorentina
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">0</td>
                        <td class="stats">3</td>
                        <td class="stats">3</td>
                        <td class="stats">-4</td>
                        <td class="stats">3</td>
                    </tr>
                    <tr>
                        <td class="rank" style="background-color: red;">18</td>
                        <td class="team">
                            <img src="photos/verona.png" alt="" class="team-logo-r">
                            Verona
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">0</td>
                        <td class="stats">3</td>
                        <td class="stats">3</td>
                        <td class="stats">-7</td>
                        <td class="stats">3</td>
                    </tr>
                    <tr>
                        <td class="rank" style="background-color: red;">19</td>
                        <td class="team">
                            <img src="photos/genoa.png" alt="" class="team-logo-s">
                            Genoa
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">0</td>
                        <td class="stats">2</td>
                        <td class="stats">4</td>
                        <td class="stats">-6</td>
                        <td class="stats">2</td>
                    </tr>
                    <tr>
                        <td class="rank" style="background-color: red;">20</td>
                        <td class="team">
                            <img src="photos/pisa.png" alt="" class="team-logo-r">
                            Pisa
                        </td>
                        <td class="stats">6</td>
                        <td class="stats">0</td>
                        <td class="stats">2</td>
                        <td class="stats">4</td>
                        <td class="stats">-7</td>
                        <td class="stats">2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
