<div class="container">
    <h2 class="text-center my-4">Player Statistics</h2>
    <div class="stats-container">
        <div class="player-stats-cards">
            
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #CD212A;">Goals</h5>
                    <table class="player-stats-table">
                        
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="player" style="color: #008C45;"><img src="photos/acmilan.png" alt="" class="team-logo-r">Christian Pulisic</td>
                                <td style="color: #008C45;">4</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="player" style="color: #008C45;"><img src="photos/bologna.png" alt="" class="team-logo-r">Riccardo Orsolini</td>
                                <td style="color: #008C45;">4</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="player" style="color: #008C45;"><img src="photos/asroma.png" alt="" class="team-logo-r">Matias Soule</td>
                                <td style="color: #008C45;">3</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="player" style="color: #008C45;"><img src="photos/como.png" alt="" class="team-logo-r">Nico Paz</td>
                                <td style="color: #008C45;">3</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="player" style="color: #008C45;"><img src="photos/lazio.png" alt="" class="team-logo-s">Matteo Cancellieri</td>
                                <td style="color: #008C45;">3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #CD212A;">Assists</h5>
                    <table class="player-stats-table">
                        
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="player" style="color: #008C45;"><img src="photos/inter.png" alt="" class="team-logo-s">Federico Dimarco</td>
                                <td style="color: #008C45;">3</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="player" style="color: #008C45;"><img src="photos/como.png" alt="" class="team-logo-r">Nico Paz</td>
                                <td style="color: #008C45;">3</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="player" style="color: #008C45;"><img src="photos/inter.png" alt="" class="team-logo-s">Ange-Yoan Bonny</td>
                                <td style="color: #008C45;">3</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="player" style="color: #008C45;"><img src="photos/juventus.png" alt="" class="team-logo-s">Kenan Yildiz</td>
                                <td style="color: #008C45;">3</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="player" style="color: #008C45;"><img src="photos/lazio.png" alt="" class="team-logo-s">Valentin Castellanos</td>
                                <td style="color: #008C45;">3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #CD212A;">Yellow Cards</h5>
                    <table class="player-stats-table">
                        
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="player" style="color: #008C45;"><img src="photos/genoa.png" alt="" class="team-logo-s">Leo Ostigard</td>
                                <td style="color: #008C45;">4</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="player" style="color: #008C45;"><img src="photos/cagliari.png" alt="" class="team-logo-r">Adam Obert</td>
                                <td style="color: #008C45;">3</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="player" style="color: #008C45;"><img src="photos/lecce.png" alt="" class="team-logo-r">Kialonda Gaspar</td>
                                <td style="color: #008C45;">3</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="player" style="color: #008C45;"><img src="photos/juventus.png" alt="" class="team-logo-s">Teun Koopmeiners</td>
                                <td style="color: #008C45;">3</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="player" style="color: #008C45;"><img src="photos/juventus.png" alt="" class="team-logo-s">Federico Gatti</td>
                                <td style="color: #008C45;">3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #CD212A;">Red Cards</h5>
                    <table class="player-stats-table">
                        
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="player" style="color: #008C45;"><img src="photos/como.png" alt="" class="team-logo-r">Jacobo Ramon</td>
                                <td style="color: #008C45;">1</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="player" style="color: #008C45;"><img src="photos/atalanta.png" alt="" class="team-logo-r">Marten de Roon</td>
                                <td style="color: #008C45;">1</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="player" style="color: #008C45;"><img src="photos/juventus.png" alt="" class="team-logo-s">Andrea Cambiaso</td>
                                <td style="color: #008C45;">1</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="player" style="color: #008C45;"><img src="photos/sassuolo.png" alt="" class="team-logo-r">Ismael Kone</td>
                                <td style="color: #008C45;">1</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="player" style="color: #008C45;"><img src="photos/lazio.png" alt="" class="team-logo-s">Matteo Guendouzi</td>
                                <td style="color: #008C45;">1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #CD212A;">Accurate passes per match</h5>
                    <table class="player-stats-table">
                        
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="player" style="color: #008C45;"><img src="photos/napoli.png" alt="" class="team-logo-s">Sam Beukema</td>
                                <td style="color: #008C45;">70</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="player" style="color: #008C45;"><img src="photos/napoli.png" alt="" class="team-logo-s">Juan Jesus</td>
                                <td style="color: #008C45;">62</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="player" style="color: #008C45;"><img src="photos/acmilan.png" alt="" class="team-logo-r">Luka Modric</td>
                                <td style="color: #008C45;">61</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="player" style="color: #008C45;"><img src="photos/udinese.png" alt="" class="team-logo-s">Oumar Solet</td>
                                <td style="color: #008C45;">60</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="player" style="color: #008C45;"><img src="photos/inter.png" alt="" class="team-logo-s">Allesandro Bastoni</td>
                                <td style="color: #008C45;">59</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #CD212A;">Succesfull dribbles per match</h5>
                    <table class="player-stats-table">
                        
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="player" style="color: #008C45;"><img src="photos/udinese.png" alt="" class="team-logo-s">Arthur Atta</td>
                                <td style="color: #008C45;">2.7</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="player" style="color: #008C45;"><img src="photos/atalanta.png" alt="" class="team-logo-r">Charles De Ketelaere</td>
                                <td style="color: #008C45;">2.0</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="player" style="color: #008C45;"><img src="photos/juventus.png" alt="" class="team-logo-s">Francisco Conceicao</td>
                                <td style="color: #008C45;">2.0</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="player" style="color: #008C45;"><img src="photos/genoa.png" alt="" class="team-logo-s">Brooke Norton-Cuffy</td>
                                <td style="color: #008C45;">1.8</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="player" style="color: #008C45;"><img src="photos/acmilan.png" alt="" class="team-logo-r">Alexis Saelemaekers</td>
                                <td style="color: #008C45;">1.8</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #CD212A;">Tackles per match</h5>
                    <table class="player-stats-table">
                        
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="player" style="color: #008C45;"><img src="photos/bologna.png" alt="" class="team-logo-r">Remo Freuler</td>
                                <td style="color: #008C45;">4.2</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="player" style="color: #008C45;"><img src="photos/genoa.png" alt="" class="team-logo-s">Patrizio Masini</td>
                                <td style="color: #008C45;">4.0</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="player" style="color: #008C45;"><img src="photos/genoa.png" alt="" class="team-logo-s">Morten Frendup</td>
                                <td style="color: #008C45;">3.8</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="player" style="color: #008C45;"><img src="photos/verona.png" alt="" class="team-logo-r">Martin Frese</td>
                                <td style="color: #008C45;">3.1</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="player" style="color: #008C45;"><img src="photos/como.png" alt="" class="team-logo-r">Nico Paz</td>
                                <td style="color: #008C45;">3.0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #CD212A;">Saves per match</h5>
                    <table class="player-stats-table">
                        
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="player" style="color: #008C45;"><img src="photos/cremonese.png" alt="" class="team-logo-s">Emil Audero</td>
                                <td style="color: #008C45;">5.0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="player" style="color: #008C45;"><img src="photos/sassuolo.png" alt="" class="team-logo-r">Arijanet Muric</td>
                                <td style="color: #008C45;">4.3</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="player" style="color: #008C45;"><img src="photos/lazio.png" alt="" class="team-logo-s">Ivan Provedel</td>
                                <td style="color: #008C45;">4.2</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="player" style="color: #008C45;"><img src="photos/atalanta.png" alt="" class="team-logo-r">Marco Carnesecchi</td>
                                <td style="color: #008C45;">3.8</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="player" style="color: #008C45;"><img src="photos/cagliari.png" alt="" class="team-logo-r">Elia Caprile</td>
                                <td style="color: #008C45;">3.5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>